.App {
  text-align: center;
}

.App-body {
  background-color: #110815;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-header-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}


/* Header.jsx */


/* MyLinks.jsx */
.my-links-container {
  display: flex;
  flex-direction: column;
}
.my-links {
  text-decoration: none;
  color: #d797fa;
}
.my-links:hover {
  transform: scale(1.5);
}

/* AnimatedGreeting.jsx */
.homepage__header-container_greeting {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
}

.entrance-animation
{
  position: relative;
  color: blueviolet;
  white-space: nowrap;
  font-size: 24px;
  width: 0;
  overflow: hidden;
  transition: width 0.5s ease;
}
.entrance-animation::before
{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  z-index: 10;
  transition: width 0.5s ease;
  transition-delay: 0.5s;
}
.entrance-animation.active
{
  width: 100%;
}
.entrance-animation.active::before
{
  width: 0%;
}

#hello-world {
  color: #fad797;
}
.full-name {
  color: #faa597;
  text-decoration: underline;
  font-style: italic;
}



/* About.jsx */
.about-me-container {
  text-align: left;
  padding: 25px;
}
.about-me_h2 {
  border-bottom: 1px solid #fad797;
}
.about-me_text {
  border-left: 1px solid #fad797;
  border-radius: 25px;
  background-color: #ebccfe27;
  padding: 25px;
}


/* Logos.jsx */
.logos-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.logos-container__html-css-and-js-container {
  display: flex;
}

.animated-logo,
.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .animated-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


/* FLICKERING NEON LIGHTS CSS */
@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

h1 {
  font-size: calc(20px + 18vh);
  line-height: calc(20px + 20vh);
/*   text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
    0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
  color: #fccaff; */
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  font-family: "Sacramento", cursive;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}

body {
  padding: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #222;
  background-image: repeating-linear-gradient(
    to bottom,
    transparent 7px,
    rgba(0, 0, 0, 0.8) 9px,
    rgba(0, 0, 0, 0.8) 13px,
    transparent 13px
  );
}

@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
/*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
/*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}
