.neon-signs-container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.App {
  text-align: center;
}

.App-body {
  background-color: #110815;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-header-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}
.app-body-container {
  display: flex;
}
.app-body-container__sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Logos-container {
  display: flex;
  justify-content: center;

}

/* Header.jsx */
.header-content-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header-image-container {
  border: 1px inset rgba(252, 252, 252, 0.473);
  background-image: radial-gradient(rgba(255, 0, 0, 0.575), rgba(255, 255, 255, 0.267));
  border-radius: 200px;
  height: 400px;
  display: flex;
  align-items: center;
}
.header-image {
  height: 350px;
}

/* AnimatedGreeting.jsx */
.homepage__header-container_greeting {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
}

.entrance-animation {
  position: relative;
  color: blueviolet;
  white-space: nowrap;
  width: 0;
  overflow: hidden;
  transition: width 0.5s ease;
}
.entrance-animation::before
{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  z-index: 10;
  transition: width 0.5s ease;
  transition-delay: 0.5s;
}
.entrance-animation.active
{
  width: 100%;
}
.entrance-animation.active::before
{
  width: 0%;
}

.full-name {
  color: #faa597;
  text-decoration: underline;
  font-style: italic;
}
.homepage__header-container>p {
  color: white;
}

/* MyLinks.jsx */
.logo-morph-container {
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
}
.logo-morphing {
  height: 250px;
  width: 250px;
  animation: Morph 10s infinite;
  
}
@keyframes Morph {
 0%, 100% {
  background-image: url('./components/logos/react-logo.svg');
  background-size: 100px;
  background-repeat: no-repeat;
 }
 12% {
    background-image: url('./components/logos/html-logo.png');
    background-size: 100px;
    background-repeat: no-repeat;
 }
 25% {
  background-image: url('./components/logos/javascript-logo.png');
  background-size: 100px;
  background-repeat: no-repeat;
 }
 38% {
  background-image: url('./components/logos/nodejs-logo.png');
  background-size: 100px;
  background-repeat: no-repeat;
 }
 50% {
  background-image: url('./components/logos/power-bi-logo.png');
  background-size: 100px;
  background-repeat: no-repeat;
 }
 63% {
  background-image: url('./components/logos/sql-logo.png');
  background-size: 100px;
  background-repeat: no-repeat;
 }
 76% {
  background-image: url('./components/logos/css-logo.png');
  background-size: 100px;
  background-repeat: no-repeat;
 }
 89% {
  background-image: url('./components/logos/css-logo.png');
  background-size: 100px;
  background-repeat: no-repeat;
 }
}


/* .my-links-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  border-left: 1px solid white;
  border-top: 1px solid white;
  padding-left: 35px;
  padding-top: 15px;
  background-color: #662383;
  border-radius: 15px;
} */
.my-links-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  text-align: left;
  padding-left: 35px;
  padding-top: 15px;
  background-color: #662383;
  border-radius: 15px;
  width: 80%;
}
.my-links {
  text-decoration: none;
  color: #d797fa;
}
.my-link {
  background-color: #662383;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 15px;
}
.my-link:hover {
  text-decoration: underline;
}
.my-links__logos {
  width: 70px;
}

/* About.jsx */
.about-me-container {
  text-align: left;
  padding: 25px;
}
.about-me_h2 {
  border-bottom: 1px solid #fad797;
}
.about-me_text {
  border-left: 1px solid #fad797;
  border-radius: 25px;
  background-color: #ebccfe27;
  padding: 25px;
}


/* Logos.jsx */
.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  #animated-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* FOOTER.JSX */
.footer-container {
  background-color: #662383;
  color: #fff;
  border-top: 1px solid #fff;
  border-radius: 25px;
  font-size: 2rem;
  height: 10vmax;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10rem;
  padding-bottom: 10rem;
}
#repo-link {
  color: #ddbbdb
}
